/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
}

.active {
    background-color: var(--var-dark-soft-menu-user-selected);
}

.sent {
    background-color: var(--var-message-sent);
}

.received {
    background-color: var(--var-light);
}

.user_bar {
    width: 100%;
    height: 50px;
    background-color: var(--var-dark-soft-user-bar);
    padding: 0.25rem 0.75rem;
}

.user_image {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.profile_image {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.last_access {
    color: var(--var-dark-soft-rubric-text);
    font-size: 0.5rem;
    max-width: 130px;
    font-size: 0.60rem;
}

.name_profile {
    font-size: 0.75rem;
}

.name_user {
    font-size: 1rem;
}

.icons i {
    color: var(--var-dark-soft-icon);
    font-size: 0.85rem;
}

.menu_bar {
    padding-left: 0.75rem;
}

/* #endregion Common */

/* #region Colors */
:root {
    --var-bg-top: #009688;
    --var-bg-body: #DBDBD3;
    --var-light: #FFFFFF;
    --var-dark: #000000;
    --var-dark-soft-user-bar: #E9EBEB;
    --var-dark-soft-menu-user-selected: #EAEAEA;
    --var-dark-soft-messagge-bar: #F3EEEA;
    --var-dark-soft-rubric-text: #C2C5D1;
    --var-dark-soft-icon: #B1B1B1;
    --var-notice-message: #8EDAFC;
    --var-dark-soft-text-icon: #6B7376;
    --var-message-sent: #D5F9BA;
}
/* #endregion Colors */

/* #region Body */
.wrapper {
    background: linear-gradient(to top, var(--var-bg-body) 81%, var(--var-bg-top) 81%);
}

.wrapper_content {
    background-color: var(--var-light);
}

.row {
    height: 100%;
}

/* #region menu */
.menu {
    height: 100%;
    padding: 0;
}

.notice_message {
    background-color: var(--var-notice-message);
    height: 55px;
}

.notice_icon {
    background-color: var(--var-light);
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notice_icon i {
    color: var(--var-notice-message);
    padding: 0.5rem;
}

.notice_info {
    font-size: 0.65rem;
}

.notice_info a {
    color: var(--var-dark-soft-icon);
}

.new_chat_bar {
    height: 40px;
}

.new_chat_bar span {
    background-color: var(--var-light);
}

.new_chat_bar i {
    color: var(--var-dark-soft-icon);
}

.new_chat_bar input::placeholder {
    font-size: 0.6rem;
    margin: auto 0;
}

.rubric {
    overflow: scroll;
    height: 391.7px;
}

.user_box {
    padding: 0.25rem 0.75rem;
    max-height: 60px;
}

.profile_image_rubric {
    padding-right: 0.5rem;
}

.name_user {
    font-size: 0.85rem;
    color: var(--var-dark);
}
/* #endregion menu */

/* #region chat */
.chat {
    padding: 0;
    border-left: 1px solid var(--var-dark-soft-icon);
}

.chat_info {
    margin-left: 0.5rem;
}

.chat .last_access {
    color: var(--var-dark-soft-text-icon);
}

.chat_content {
    height: 436.7px;
    background-image: url('../img/mine.jpg');
    overflow: auto;
}

.message_content {
    width: 80%;
    height: 100%;
    margin: auto;
    font-size: 0.75rem;
}

.list-unstyled {
    position: relative;
    border-radius: 0.45rem;
}

.message_content li {
    margin: 0.25rem 0;
    max-width: 200px;
    padding: 0.75rem 1rem;
    display: flex;
}

.options {
    display: none;
}

.message_content li:hover .options {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.dropdown button {
    border: 0;
    background-color: transparent;
}

.dropdown-item {
    font-size: 0.75rem;
}

.message_content .last_access {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.text_bar {
    background-color: var(--var-dark-soft-messagge-bar);
    height: 50px;
}

.message input {
    border-radius: 0.25rem;
    border: 0;
    padding: 0.25rem;
}

.message input::placeholder {
    font-size: 0.75rem;
}

.text_bar i {
    color: var(--var-dark-soft-text-icon);
}
/* #endregion chat */

/* #endregion Body */