/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* #endregion Common */

/* #region Colors */
:root {
    --var-bg-top: #009688;
    --var-bg-body: #DBDBD3;
    --var-light: #FFFFFF;
    --var-dark: #000000;
    --var-dark-soft-user-bar: #E9EBEB;
    --var-dark-soft-menu-user-selected: #EAEAEA;
    --var-dark-soft-messagge-bar: #F3EEEA;
    --var-dark-soft-rubric-text: #C2C5D1;
    --var-dark-soft-icon: #B1B1B1;
    --var-notice-message: #8EDAFC;
}
/* #endregion Colors */

/* #region Body */
.wrapper {
    height: 100vh;
    position: relative;
}

.wrapper_top {
    height: 100px;
    background-color: var(--var-bg-top);
}

.wrapper_body {
    height: calc(100vh - 100px);
    background-color: var(--var-bg-body);
}

.wrapper_content {
    width: 90vw;
    height: 90vh;
    background-color: var(--var-light);
    position: absolute;
    top: 5%;
    left: 5%;
}

.row {
    height: 100%;
}

.menu {
    background-color: red;
    height: 100%;
}

.chat {
    background-color: black;
    height: 100%;
}
/* #endregion Body */

