/* #region Common */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.profile_image {
    width: 40px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.user_bar {
    width: 100%;
    height: 50px;
    background-color: var(--var-dark-soft-user-bar);
}

.user_bar .name {
    font-size: 0.75rem;
}

.icons i {
    color: var(--var-dark-soft-icon);
}

.menu_bar {
    padding-left: 0.75rem;
}
/* #endregion Common */

/* #region Colors */
:root {
    --var-bg-top: #009688;
    --var-bg-body: #DBDBD3;
    --var-light: #FFFFFF;
    --var-dark: #000000;
    --var-dark-soft-user-bar: #E9EBEB;
    --var-dark-soft-menu-user-selected: #EAEAEA;
    --var-dark-soft-messagge-bar: #F3EEEA;
    --var-dark-soft-rubric-text: #C2C5D1;
    --var-dark-soft-icon: #B1B1B1;
    --var-notice-message: #8EDAFC;
}
/* #endregion Colors */

/* #region Body */
.wrapper {
    height: 100vh;
    position: relative;
}

.wrapper_top {
    height: 100px;
    background-color: var(--var-bg-top);
}

.wrapper_body {
    height: calc(100vh - 100px);
    background-color: var(--var-bg-body);
}

.wrapper_content {
    width: 90vw;
    height: 90vh;
    background-color: var(--var-light);
    position: absolute;
    top: 5%;
    left: 5%;
}

.row {
    height: 100%;
}

.menu {
    height: 100%;
    padding: 0;
}

.user_bar {
    padding: 0.25rem 0.5rem;
}

.notice_message {
    background-color: var(--var-notice-message);
    height: 55px;
}

.notice_icon {
    margin-right: 0.5rem;
}

.notice_icon i {
    background-color: var(--var-light);
    color: var(--var-notice-message);
    padding: 0.5rem;
    border-radius: 50%;
}

.notice_info {
    font-size: 0.65rem;
}

.notice_info a {
    color: var(--var-dark-soft-icon);
}

.chat {
    background-color: black;
    height: 100%;
}
/* #endregion Body */

